@font-face {
    font-family: 'Lobster-Regular';
    src: url('./assets/Lobster-Regular.ttf');
}

@font-face {
    font-family: 'LeagueGothic-Regular';
    src: url('./assets/LeagueGothic-Regular.ttf');
}

* {
    box-sizing: border-box;
    font-family: 'LeagueGothic-Regular';
}

html, body {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    width: 96vw;
    height: 100vh;
    overflow-y: hidden;
}

#approot {
    position: absolute;
    text-align: center;
    color: #2c3e50;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-family: 'Lobster-Regular';
    font-size: 35px;
    text-shadow: 4px 4px rgba(255, 0, 0, 0.2);
}

.inputbtn {
    padding: 10px;
    background-color: rgba(207, 148, 38, 0.726);

    margin: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;

    &:active {
        background-color: rgba(187, 38, 207, 0.486);
    }

    &:disabled {
        background-color: rgba(69, 65, 70, 0.486);
    }
}

.cmdbtn {
    padding: 10px;
    background-color: rgba(207, 77, 38, 0.726);

    margin: 10px;
    border: none;
    color: white;
    font-size: 14px;

    &:active {
        background-color: rgba(187, 38, 207, 0.486);
    }

    &:disabled {
        background-color: rgba(69, 65, 70, 0.486);
    }
}

.clientmsg {
    color: rgba(40, 65, 207, 0.596);
    font-size: 14px;
}