* {
  box-sizing: border-box;
  font-size: 12px;

  user-select: none;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
}

#approot {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
}

.title {
  font-family: 'Lucida Calligraphy';
  font-size: 25px;
  text-shadow: 4px 4px rgba(255, 0, 0, 0.2);

  -webkit-app-region: drag;
}

.sourcefoldertitle {
  margin: auto;
  width: 80%;
  text-align: left;
}

$bordernaddbtn: rgba(156, 63, 63, 0.645);
$foldersheight: 100px;

.sourcefolders {
  margin: auto;
  min-height: $foldersheight;
  height: $foldersheight;
  width: 80%;

  text-align: left;

  border: 2px solid $bordernaddbtn;

  > .addbtn {
    float: right;

    margin: 2px;
    background-color: $bordernaddbtn;
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 2px;

    &:active {
      background-color: #2c3e50;
    }
  }

  > .folderlistingcontainer {
    width: 90%;
    margin: 5px;
    height: 85px;

    // border: 2px solid blue;

    overflow-y: scroll;
    
    > .folderlisting {
      
      > .folderpath {
        display: block;
        float: left;
        width: 90%;
        
        font-size: 16px;
        padding: 2px;
      }

      > .removefolderbtn {
        display: block;
        float: right;
        width: 10%;
        // padding: 1px;

        > button {
          font-size: 8px;
          border: none;

          border-radius: 5px;
          background-color: rgba(186, 107, 43, 0.644);
          color: white;
          &:active {
            background-color: white;
          }
        }
      }
    }
  }
}

/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.gjsfldrbtn, .targetfldrbtn {
  padding: 6px;

  margin: 10px;
  border: none;
  border-radius: 5px;
  color: white;

  &:active {
      background-color: rgba(187, 38, 207, 0.486);
  }

  &:disabled {
      background-color: rgba(69, 65, 70, 0.486);
  }
}

.gjsfldrbtn {
  background-color: rgba(207, 148, 38, 0.726);
}

.targetfldrbtn {
  background-color: rgba(121, 147, 17, 0.726);
}

.slitbtn, .xitbtn {
  padding: 4px;

  margin: 6px;
  border: none;
  color: white;
  border-radius: 2px;

  &:active {
      background-color: rgba(187, 38, 207, 0.486);
  }

  &:disabled {
      background-color: rgba(69, 65, 70, 0.486);
  }
}

.slitbtn {
  background-color: rgba(38, 86, 207, 0.726);
}

.xitbtn {
  background-color: rgba(213, 40, 40, 0.726);
}

.infomsg {
  color: rgba(40, 65, 207, 0.596);
}

.countmsg {
  color: rgba(15, 133, 139, 0.697);
}

.actionmsg {
  color: rgba(207, 39, 190, 0.632);
}