* {
  box-sizing: border-box;
  font-size: 12px;

  user-select: none;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
}

$primarythemecolor: #1d1baa;
$secondarythemecolor: rgb(100, 58, 131);

#approot {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $primarythemecolor;
  margin-top: 40px;
}

.title {
  font-family: 'Lucida Calligraphy';
  font-size: 25px;
  text-shadow: 4px 4px rgba($secondarythemecolor, 0.2);

  -webkit-app-region: drag;
}

.movable {
  position: absolute;
  top: 30px;
  right: 60px;
  
  > svg {
    transform: scale(0.6);
    fill: rgba($primarythemecolor, 0.8);
  }
}

td {
  padding: 0px 20px;
}

.systeminfo {
  color: rgba($secondarythemecolor, 0.7);
}

.outfolderbtn {
  padding: 4px 6px;

  // margin: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgba($primarythemecolor, 0.7);

  &:active {
      background-color: rgba(187, 38, 207, 0.486);
  }

  &:disabled {
      background-color: rgba(69, 65, 70, 0.486);
  }
}

.sourcefoldertitle {
  margin: auto;
  width: 80%;
  text-align: left;

  color: rgba($primarythemecolor, 0.7);
}

$foldersheight: 100px;

.sourcefolders {
  margin: auto;
  min-height: $foldersheight;
  height: $foldersheight;
  width: 80%;

  text-align: left;

  border: 2px solid rgba($primarythemecolor, 0.7);

  > .addbtn {
    float: right;

    margin: 2px;
    background-color: rgba($primarythemecolor, 0.7);
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 2px;

    &:active {
      background-color: #2c3e50;
    }
    
    &:disabled {
      background-color: rgba(69, 65, 70, 0.486);
    }
  }

  > .folderlistingcontainer {
    width: 90%;
    margin: 5px;
    height: 85px;

    // border: 2px solid blue;

    overflow-y: scroll;
    
    > .folderlisting {
      
      > .folderpath {
        display: block;
        float: left;
        width: 90%;
        
        font-size: 16px;
        padding: 2px;
      }

      > .removefolderbtn {
        display: block;
        float: right;
        width: 10%;
        // padding: 1px;

        > button {
          font-size: 8px;
          border: none;

          border-radius: 5px;
          background-color: rgba($secondarythemecolor, 0.7);
          color: white;

          &:active {
            background-color: white;
          }

          &:disabled {
            background-color: rgba(69, 65, 70, 0.486);
          }
        }
      }
    }
  }
}

/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.startbtn, .xitbtn {
  padding: 4px;

  margin: 6px;
  border: none;
  color: white;
  border-radius: 2px;

  &:active {
    background-color: rgba(187, 38, 207, 0.486);
  }

  &:disabled {
      background-color: rgba(69, 65, 70, 0.486);
  }
}

.startbtn {
  background-color: rgba($primarythemecolor, 0.7);
}

.xitbtn {
  background-color: rgba($secondarythemecolor, 0.7);
}

.secondarymsg {
  color: rgba($secondarythemecolor, 0.7);
}

.primarymsg {
  color: rgba($primarythemecolor, 0.7);
}